.Item{
    background-color: #F5B943;
    border-radius: 10px;
    // border: 5px;
    // margin: 5px;
    padding: 5px;
    height: 70px;
    margin: 10px;
    // border: 5px;
    .left{
        flex: auto;
        width: 20%;
        float: left;
        border-radius: 5px;
        .month{
            
            background-color: #BE1524;
            color: white;
            font-size: 15px;
        }
        .date{
            
            background-color: white;
            color: black;
            font-size: 40px;
        }
    }
    
    .right{
        float: left;
        flex: auto;
        width: 80%;
  
        .title{
            color: black;      
            margin: 10px;
        }
        .time{
            color: red;
        }
    }
}